:root{
    --primarycolor :#bcdffd;
    --secondarycolor:#90CAF9;
    --lightcolor:#FFFFFF;
    --bgcolor-1:#171a1c;
    --bgcolor-2:#22282a;
--padding:8%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--lightcolor);
}
a{
    color: white;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}
h1{
    font-size: 4.0rem;
margin: 1.7rem 0;
}

h3{
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
}

h4{
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
    color: var(--primarycolor);
}
nav {
    padding-top: 2.2rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Ajoutez cette ligne pour fixer le navbar */
    top: 0; /* Positionne le navbar en haut */
    left: 0; /* Positionne le navbar à gauche */
    width: 100%; /* Assurez-vous que le navbar occupe toute la largeur */
    background-color: #333; /* Changez cette couleur en fonction de votre design */
    z-index: 100; /* Assurez-vous que le navbar est au-dessus du contenu */
}

h2{
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}
h5{
   font-size: 1.37rem; 
   margin-bottom: 1.5rem;
   letter-spacing: 2px;
}
.home{
    width: 100%;
    height: 100vh;
    background-color: var(--bgcolor-1);
    display: flex;
    flex-direction: column;
}
span{
    color: var(--secondarycolor);
}

p{
    color: var(--primarycolor);
    letter-spacing: 1px;
    line-height: 1.5rem;
    font-size: 1rem;
}


nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}

nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
}

nav ul li a:hover{
    color: var(--secondarycolor);
}

.btn{
    background-color: var(--secondarycolor);
    text-decoration: none;
    font-weight: bold;
    padding: 0.81rem  1.87rem;
    border: 2px solid transparent;
    border-radius: 30px;
    transition: 0.4s;
}

.btn:hover{
    background-color: transparent;
    border: 2px solid var(--secondarycolor);
}

.content {
    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px; /* Ajoutez une marge supérieure égale à la hauteur du navbar */
}

.container-textes{
    position: relative;
    bottom: 70px;
}



.social{
    margin-top: 10%

}

.social img{
    margin-right:2rem;
    width: 2.5rem;
    transition: 0.4s;
}

.social img:hover{
    transform: scale(1.2);
}

.container-img{
  position: relative;
  width: 45%;
  height: 90%;
  align-self: flex-end;
  
}

.container-img img{
   position: absolute;
   bottom: 0.2;
}

.shape{
    width: 75%;
}

.pic{
    width: 50%;
    margin-left: 55px;
}
.about{
    background-color: var(--bgcolor-2);
    padding:2rem var(--padding);
    display: flex;

}

.about .container-imgs img{
    margin-top: 80px;
    width: 100%;
    height: 90%; 
      align-items: center;  
    justify-content: space-around;
}
.services{
    background-color: var(--bgcolor-1);
    padding:2rem var(--padding);
}

.text-center{
    text-align: center;
}

.box{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 300px;
    background-color:#5e5c5c;
    border-radius: 20px;
    padding: 1.3rem 2rem;
    text-align: center;
}

.card img{
    width: 40%;
    align-items: center;
    justify-content: center;
    color: #fff;
 
}
.card h1{
    font-size: 25px;
}

.content-skills {
    width: 60%;
    display: flex;
    flex: repeat(3, 1fr); /* Crée 3 colonnes égales */
    gap: 25%; /* Espacement entre les divisions */
    padding: 20px;
}
.Skills img{
position: relative;
justify-content: space-between;
display: flex;
align-items: center;
}


.size{
    width: 35%;
}


h1{
    font-size: 3.0rem;
    text-align: center;
margin: 1.7rem 0;
color: #90CAF9;
text-shadow: 2px 2px 5px black;

}

section{
    background: var(--bgcolor-1);
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    padding:2rem var(--padding);
    
}

.card-script{
    width: 50%;
    height: 100%;
    background-color:#5e5c5c;
    border-radius: 20px;
    padding: 1.3rem 2rem;
    text-align: center;
    margin-left: 25%;
}

.card-script img{ 
    border-radius: 5%;
    margin-top: -6%;
}

.card-parag{
    display: flex;
   
}

.card-parag img{
    width: 15%;
    margin-left: 5%;
    align-items: center;
}

.card-script1{
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color:#5e5c5c;
    border-radius: 20px;
    padding: 1.3rem 2rem;
    text-align: center;
    margin-left: 80%;
}

.p img{
    width: 15%;
    margin-left: 5%;
    align-items: center;
  
}

.p{
    display: flex; 
}

.a{
    display: flex;  
}

.a img{
    width: 15%;
    margin-left: 5%;
    align-items: center;
  
}